.App {
  text-align: center;
}


a{
  color: grey;
  font-weight: 700;
}

a:hover{
  color: black;
}


.navbar-brand a{
  font-size: 30px;
  color: black;
  text-decoration: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
